body{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
    gap:20px;
    background-color:rgb(20, 234, 246);
}

#display{
    width:390px;
    height:60px;
    font-size:30px;
    padding:10px;
    border-radius:10px;
}

.calculator{
    display:grid;
    grid-template-columns:repeat(5,80px);
    gap:10px;
}

button{
    width:80px;
    height:80px;
    font-size:25px;
    border-radius:10px;
    cursor:pointer;
    background-color: bisque;
}

button:hover{
    transform:scale(1.05);
}

#history{
    margin-top:20px;
    font-size:25px;
    font-family:monospace;
    text-align:center;
    position: absolute;
    top: 20px;
}